


/**
 * Site footer
 */



/**
 * Page content
 */


/**
 * Posts
 */
.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.spacer-updown {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.spacer-left {
    margin-left: $spacing-unit !important;
}

.post-taglist{
    margin-bottom: 10px;
    margin-top: 10px;
}

.post-category{
    font-size: $small-font-size*0.8;
    color: #5D5245;
    background-color: #FEE4C5;
    border-color: #FEE4C5;
    text-align: center;
    margin: 5px 2px 10px 0;
    padding: .4em .5em;
    transition: all .15s ease-in-out;

    &:hover{
        color: #3D5245;
        background-color: #DEE4C5;
        border-color: rgba(0,0,0,0);
    }
}


.post-tag{ // from stackoverflow
    font-size: $small-font-size*0.8;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;
    text-align: center;
    margin: 5px 2px 10px 0;
    padding: .4em .5em;
    transition: all .15s ease-in-out;

    &:hover{
        color: #33658a;
        background-color: #cee0ed;
        border-color: rgba(0,0,0,0);
    }

    &-row{
        padding-bottom: 15px;
    }
}

.item-multiplier {
    margin-right: 4px;
    color: #848d95;

    &-count {
        font-size: 11px;
        color: #6a737c;
    }
}


